

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap')


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
body{
font-family:'Poppins', sans-serif ;
}
h1,h2,h3,h4,h5,h6,ul,ol,p,span{
  margin: 0;
  padding: 0;
}



/* NAVBAR STAR HERE */
#pf{
  margin-top: 35px;
}
#menubar ul li a{
color:black;
font-size: 15px;
font-weight: 500;
line-height: 200%;
padding:0 15px 5px;
transition: .3s;
}
#menubar ul li:hover a{
  color: red;
}

@media(min-width:320px) and (max-width:767px){
  nav{
   box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
  }
}





/* NAVBAR END HERE */

/* paragraph and form start here */
.passoward{
  
  margin-top: 5px;
}
input{
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

h1 span{
  color: red;

}
h1 p{
  
  line-height: 2.8px;
}
h1{
  margin-bottom: 15px;
}
button{
  border: none;
  background-color: red;
  border-radius: 8px;
  padding: 7px 16px;
  /* margin: 35px 0; */
  font-size: 16px;
  /* margin: 20px; */
}
button:hover{
  background-color: rgb(45, 220, 10);
  color: white;
}
table{
  margin-top: 59px;
}
table, th,td{
  padding:10px;
}
table,th{
  text-align: right;
}

.login p{
  font-size:large ;
}
.login ul li{
  padding: 6px;
}
.software{
    font-family:"Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
  }
